body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#f5f5f5;
}

.navbar{
    background:#333;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

.logo img{
    border-radius:50%;
}

.nav-links a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.nav-links a:hover{
    color:yellow;
}

.head{
    text-align:center;
    background:#d9d9d9;
    padding:50px;
}

.head h1{
    color:darkblue;
}

section{
    padding:30px;
}

h2{
    text-align:center;
    color:darkblue;
}

.about,
.skills,
.projects,
.contact{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:10px;
}

.project-card{
    border:1px solid gray;
    padding:20px;
    border-radius:10px;
}

ul{
    list-style-type:square;
}

button{
    margin:10px;
    padding:10px 20px;
    border:none;
    background:darkblue;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:green;
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:15px;
}

.dark-mode{
    background:#222;
    color:white;
}

.dark-mode .about,
.dark-mode .skills,
.dark-mode .projects,
.dark-mode .contact{
    background:#444;
    color:white;
}

.dark-mode h2,
.dark-mode h1,
.dark-mode p,
.dark-mode li{
    color:white;
}
