body{
    margin:0;
    font-family:Lucida ;
    background-color:#f6f8f8;
}

.navbar{
    background:#81745b;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

.logo img{
    border-radius:50%;
}

.nav-links a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.nav-links a:hover{
    color:rgb(166, 248, 128);
}

.head{
    text-align:center;
   border-radius:50%;
    padding:50px;
}

.head h1{
    color:#8B5E3C;
    
}

section{
    padding:30px;
   
}

h2{
    text-align:left;
    color:rgb(0, 6, 5);
    border-radius:10px;
}

.about,
.skills,
.projects,
.contact{
    background:rgb(232, 165, 40);
    margin:20px;
    padding:20px;
    border-radius:10px;
    
}

.project-card{
    margin:10px;
  
   
}

ul{
    list-style-type:square;
}

button{
    margin:10px;
    padding:10px 20px;
    border:none;
    background:rgb(11, 11, 11);
    color:white;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:rgb(51, 174, 51);
}

footer{
    background:#72725b;
    color:white;
    text-align:center;
    padding:15px;
}

.dark-mode{
    background:#222;
    color:white;
}

.dark-mode .about,
.dark-mode .skills,
.dark-mode .projects,
.dark-mode .contact{
    background:#444;
    color:rgb(255, 255, 255);
}

.dark-mode h2,
.dark-mode h1,
.dark-mode p,
.dark-mode li{
    color:white;
}
